# .env.example
# Copy this file to .env and fill in the actual values
JWT_SECRET=
ADMIN_EMAIL=
MONGODB_URI=
GEMINI_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=
CLIENT_URL=
